/ {
	buttons {
		compatible = "gpio-keys";

		gesture_button: gesture_button {
			gpios = <&gpio0 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Gesture Button";
		};

		record_button: record_button {
			gpios = <&gpio0 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Record Button";
		};
	};

	aliases {
		sw0 = &gesture_button;
		recordbtn = &record_button;
	};
};
